Errors in numbers parsing

sajson does erroneously accept these contents as numbers, although they are not numbers according to [RFC 7159 section 6. Numbers](https://tools.ietf.org/html/rfc7159#section-6).

    [-]
    [-2.]
    [0.e1]
    [2.e+3]
    [2.e-3]
    [2.e3]
    [-.123]
    [1.]


Hi @nst!  Thanks for the bug report.  I'm back from vacation now, and the bug is fixed by https://github.com/chadaustin/sajson/commit/4376d1eb3bce2d597d71df97c8d83e1928254e00